body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bgSteel {
    background-color: #5f788a;
  }
  
  .siteHeader .navbarNav .navLink {
    color: #cbd5db;
  }
  
  .siteHeader .navbarNav .navLink:hover {
    color: #ffffff;
  }
  
  .siteHeader .navbarNav .navLink.active {
    font-weight: 500;
  }
  
  .contentSection {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .checklistTitle {
    color: #306a9cfd;
  }
  
  a.checklistTitle:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .checklistContent {
    white-space: pre-line;
  }
  
  .checklistImg {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .checklistMetadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .checklistMetadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .checklistSvg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .accountImg {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .accountHeading {
    font-size: 2.5rem;
  }

  #green{
    background-color: rgb(100, 235, 22);
  }